'use strict';

angular.module('webApp')
  .controller('CompanyCtrl', function ($scope, $state, Company, Auth) {
    $scope.tracto = {};
    $scope.company = {};
    $scope.companies = [];

    // TODO: Need to change this
    // If user is redirected, cannot click back!
    if ($state.is('companyRegister')) {
      if (Auth.getCurrentUser().company) {
        $state.go('companySettings');
      }
    }

    /**
     * Find all companies
     */
    $scope.find = function() {
      Company.query(function(companies) {
        $scope.companies = companies;
      }, $scope.tracto.handle);
    };

    /**
     * Find the users company
     */
    $scope.findOne = function() {
      var companyId = Auth.getCurrentUser().company;
      if (companyId) {
        Company.get({ id: companyId },
        function(company) {
          if (!company) { $state.go('main'); }
          $scope.company = company;
        }, $scope.tracto.handle);
      } else {
        $state.go('companyRegister');
      }
    };

    /**
     * Register new company
     * Update user with new company
     */
    $scope.register = function(form) {
      $scope.submitted = true;
      $scope.tracto.reset();

      if (form.$valid) {
        var user = Auth.getCurrentUser();
        angular.extend($scope.company, {
          _creator: user._id,
          admins: [user._id]
        });
        var company = new Company($scope.company);
        company.$save(function(company) {
          user.company = company._id;
          user.$update(function() {
            Auth.promote('company')
            .then(function() {
              $state.go('company');
            })
            .catch($scope.tracto.handle);
          }, $scope.tracto.handle);
  			}, $scope.tracto.handle);
      }
    };

    /**
     * Update a company
     */
    $scope.update = function(form) {
      $scope.submitted = true;
      $scope.tracto.reset();

      if (form.$valid) {
        $scope.company.$update(function() {
          $scope.tracto.good = 'Details successfully updated';
  			}, $scope.tracto.handle);
      }
    };

    /**
     * Deactivate a company
     * TODO: move company to archive database
     */
    $scope.remove = function(form) {
      var company = $scope.company;
      $scope.submitted = true;
      $scope.tracto.reset();

      if (form.$valid && company) {
        company.$remove(function() {
          $state.go('main');
        }, $scope.tracto.handle);
      }
    };

    /**
     * Reset response object
     */
    var reset = function () {
      $scope.tracto = {};
    };

    /**
     * A error handling function
     */
    var $scope.tracto.handle = function (err) {
      console.log(err);
      $scope.tracto.bad = 'An error has occurred, we apologise for this inconvenience';
    };
  });
