<span ng-include="'app/theme/header.html'"></span>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'app/theme/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Company
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'app/theme/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div ng-show="vm.glitch.getError()" class="alert alert-danger" role="alert">{{ vm.glitch.getError() }}</div>
            <div ng-show="vm.glitch.getSuccess()" class="alert alert-success" role="alert">{{ vm.glitch.getSuccess() }}</div>
            <p>Add members</p>
            <div class="form-group">
              <label for="companyPhone" class="sr-only">Search people</label>
              <input type="text" class="form-control" placeholder="Search people" ng-model="search">
            </div>
            <ul class="list-group" ng-init="vm.getUsers()">
              <li class="list-group-item" ng-repeat="user in vm.users | filter: {$:search, role:'!admin', company:'null'} | limitTo: 5">
                  <strong>{{user.name}}</strong><br>
                  <span class="text-muted">{{user.email}}</span>
                  <a ng-click="vm.companyAddCompany(user)" class="trash pull-right">
                    Company Admin
                    <span ng-show="user.role === 'company'" class="glyphicon glyphicon-ok-circle"></span>
                  </a>
                  <a ng-click="vm.companyAddInspector(user)" class="trash pull-right">
                    Inspector
                    <span ng-show="user.role === 'inspector'" class="glyphicon glyphicon-ok-circle"></span>
                  </a>
                  <a ng-click="vm.companyRemoveMember(user)" class="trash pull-right">
                    User
                    <span ng-show="user.role === 'user'" class="glyphicon glyphicon-ok-circle"></span>
                  </a>
              </li>
            </ul>
            <hr>
            <p>Current members</p>
            <ul class="list-group" ng-init="vm.getCompanyMembers()">
              <li class="list-group-item" ng-repeat="member in vm.items">
                  <strong>{{member.name}}</strong><br>
                  <span class="text-muted">{{member.email}}</span>
                  <a ng-click="vm.companyAddCompany(member)" class="trash pull-right">
                    Company Admin
                    <span ng-show="member.role === 'company'" class="glyphicon glyphicon-ok-circle"></span>
                  </a>
                  <a ng-click="vm.companyAddInspector(member)" class="trash pull-right">
                    Inspector
                    <span ng-show="member.role === 'inspector'" class="glyphicon glyphicon-ok-circle"></span>
                  </a>
                  <a ng-click="vm.companyRemoveMember(member)" class="trash pull-right">
                    User
                    <span ng-show="member.role === 'user'" class="glyphicon glyphicon-ok-circle"></span>
                  </a>
              </li>
            </ul>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'app/theme/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'app/theme/footer.html'"></span>
