<span ng-include="'shared/theme/header.html'"></span>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'shared/theme/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Change Password
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'shared/theme/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div ng-show="vm.tracto.bad" class="alert alert-danger" role="alert">{{ vm.tracto.bad }}</div>
            <div ng-show="vm.tracto.good" class="alert alert-success" role="alert">{{ vm.tracto.good }}</div>
            <form class="form" name="form" ng-init="vm.getOne()" ng-submit="vm.changePassword(form)" novalidate>

              <div class="form-group">
                <label>Current Password</label>
                <input type="password" name="password" class="form-control" ng-model="vm.item.oldPassword"
                       mongoose-error/>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ response.errors.other }}
                </p>
              </div>

              <div class="form-group">
                <label>New Password</label>
                <input type="password" name="newPassword" class="form-control" ng-model="vm.item.newPassword"
                       ng-minlength="3"
                       required/>
                <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                  Password must be at least 3 characters.
                </p>
              </div>

              <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
            </form>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'shared/theme/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'shared/theme/footer.html'"></span>
