<ul class="list-inline menu-labels">
  <li ng-show="isLoggedIn()">Vehicle</li>
  <li ng-show="isLoggedIn()">Company</li>
  <li ng-show="isLoggedIn()">Location</li>
  <a ng-hide="isLoggedIn()" href="/login"><li>Login</li></a>
  <a ng-hide="isLoggedIn()" href="/register"><li>Register</li></a>
  <a ng-show="isLoggedIn()" href="/settings"><li>Settings</li></a>
  <a ng-show="isLoggedIn()" ng-click="logout()"><li>Logout</li></a>
</ul>
<ul class="list-inline menu-items">
  <a href="#"><li>Register</li></a>
  <a href="#"><li>Settings</li></a>
  <a href="#"><li>Settings</li></a>
</ul>
<ul class="list-inline menu-items">
  <a href="#"><li>Settings</li></a>
  <a href="#"><li>Settings</li></a>
  <a href="#"><li>Settings</li></a>
</ul>
<ul class="list-inline menu-items">
  <a href="#"><li>Settings</li></a>
  <a href="#"><li>Settings</li></a>
  <a href="#"><li>Settings</li></a>
</ul>
