<ul class="list-unstyled">
  <span class="dropdown">
    <a href="#"><li>Settings</li></a>
    <ul>
      <a href="#"><li>Settings</li></a>
      <a href="#"><li>Settings</li></a>
      <a href="#"><li>Settings</li></a>
    </ul>
  </span>
  <span class="dropdown">
    <a href="#"><li>Vehicle</li></a>
    <ul>
      <a href="#"><li>Register</li></a>
      <a href="#"><li>List</li></a>
      <a href="#"><li>Settings</li></a>
    </ul>
  </span>
  <span class="dropdown">
    <a href="#"><li>Settings</li></a>
    <ul>
      <a href="#"><li>Register</li></a>
      <a href="#"><li>List</li></a>
      <a href="#"><li>Settings</li></a>
    </ul>
  </span>
  <a href="#"><li>Login</li></a>
  <a href="#"><li>Logout</li></a>
</ul>
