<ul class="list-unstyled" ng-controller="ThemeCtrl as vm">
  <span class="dropdown" ng-repeat="item in vm.menu" ng-if="item.show()">
    <a ng-if="item.href" ui-sref="{{ item.href }}">
      <li>{{ item.name }}</li>
    </a>
    <li ng-if="!item.href" ng-click="vm.toggleChildren($index)">{{ item.name }}</li>
    <ul ng-if="item.showChildren">
      <a ng-repeat="child in item.children" ng-show="child.show()" ui-sref="{{ child.href }}">
        <li>{{ child.name }}</li>
      </a>
    </ul>
  </span>
</ul>
