<span ng-include="'shared/theme/header.html'"></span>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'shared/theme/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Company Infringements
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'shared/theme/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- infringement content start -->
            <div ng-show="vm.tracto.bad" class="alert alert-danger" role="alert">{{ vm.tracto.bad }}</div>
            <div ng-show="vm.tracto.good" class="alert alert-success" role="alert">{{ vm.tracto.good }}</div>
            <ul class="list-group" ng-init="vm.getFewCompany()">
              <li class="list-group-item" ng-repeat="infringement in vm.items" ng-click="vm.toSettings(infringement)">
                  <strong>{{infringement.name}}</strong><br>
                  <span class="text-muted">Payment: {{infringement.payment}}</span>
              </li>
            </ul>
            <!-- infringement content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'shared/theme/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'shared/theme/footer.html'"></span>
