<span ng-include="'components/theme/header.html'"></span>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 left hidden-sm hidden-xs">
        <span ng-include="'components/theme/sidebar.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Welcome
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'components/theme/menu.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header">Features:</h1>
                <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
                  <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
                </ul>
              </div>
            </div>

            <form class="thing-form">
              <label>Syncs in realtime across clients</label>
              <p class="input-group">
                <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
                </span>
              </p>
            </form>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'components/theme/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'components/theme/footer.html'"></span>
