<span ng-include="'app/theme/header.html'"></span>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'app/theme/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Vehicles
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'app/theme/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div ng-show="vm.glitch.getError()" class="alert alert-danger" role="alert">{{ vm.glitch.getError() }}</div>
            <div ng-show="vm.glitch.getSuccess()" class="alert alert-success" role="alert">{{ vm.glitch.getSuccess() }}</div>
            <a href="/vehicle/register">Register a new vehicle</a>
            <ul class="list-group" ng-init="vm.getFewUser()">
              <li class="list-group-item" ng-repeat="vehicle in vm.items">
                  <strong ng-click="vm.toSettings(vehicle)">{{vehicle.plate}}</strong><br>
                  <span class="text-muted">Make: {{vehicle.make}},</span>
                  <span class="text-muted">Colour: {{vehicle.color}},</span>
                  <span class="text-muted">Type: {{vehicle.type}}</span>
                  <a ng-click="vm.remove(vehicle)" class="trash pull-right">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
              </li>
            </ul>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'app/theme/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'app/theme/footer.html'"></span>
