<!-- start:middle -->
<div class="middle container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:content -->
      <input type="text" class="form-control" placeholder="Search" ng-model="search">
      <a href="/vehicle/register">Register a new vehicle</a>
      <ul class="list-group" ng-init="vmMain.getMany()">
        <li class="list-group-item" ng-repeat="vehicle in vmMain.items">
            <strong>{{vehicle.plate}}</strong><br>
            <span class="text-muted">Make: {{vehicle.make}},</span>
            <span class="text-muted">Colour: {{vehicle.color}},</span>
            <span class="text-muted">Type: {{vehicle.type}}</span>
        </li>
      </ul>
      <!-- end:content -->
    </div>
  </div>
</div>
<!-- end:middle -->
<!-- start:right -->
<div class="right container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:menu -->
      <ul class="list-inline" ng-repeat="items in vmApp.menu | filter: {direction: 'app.vehicle'}">
        <li ng-repeat="item in items.children" ng-class="{'active': vmApp.isActive(item.direction)}">
          <a ui-sref="{{item.direction}}">
            {{item.label}}
          </a>
        </li>
      </ul>
      <!-- end:menu -->
      <div class="alert alert-danger" role="alert">Check yourself before you <strong>wreck</strong> yourself.</div>
      <!-- view:detail -->
      <div ui-view=""></div>
    </div>
  </div>
</div>
<!-- end:right -->
