<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group" ng-init="find()">
    <li class="list-group-item" ng-repeat="vehicle in vehicles" ng-click="edit(vehicle)">
        <strong>{{vehicle.plate}}</strong><br>
        <span class="text-muted">{{vehicle.make}}</span>
        <span class="text-muted">{{vehicle.colour}}</span>
        <span class="text-muted">{{vehicle.type}}</span>
        <a ng-click="remove(vehicle)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>
