<span ng-include="'app/theme/header.html'"></span>
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'app/theme/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          User
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'app/theme/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div ng-show="vm.glitch.getError()" class="alert alert-danger" role="alert">{{ vm.glitch.getError() }}</div>
            <div ng-show="vm.glitch.getSuccess()" class="alert alert-success" role="alert">{{ vm.glitch.getSuccess() }}</div>
            <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
            <ul class="list-group" ng-init="vm.getMany()">
              <li class="list-group-item" ng-repeat="user in vm.items">
                  <strong>{{user.name}}</strong><br>
                  <span class="text-muted">{{user.email}}</span>
                  <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
              </li>
            </ul>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'app/theme/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'app/theme/footer.html'"></span>
