<h2>Sign-up</h2>
<hr>
<form class="form" name="form" ng-submit="vmOne.create(form)" novalidate>
  <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vmOne.submitted, 'has-error': form.name.$invalid && vmOne.submitted }">
    <label>Full Name</label>
    <input class="form-control" name="name" ng-model="vmOne.user.name" required type="text" placeholder="John Smith">
    <p class="help-block" ng-show="form.name.$error.required && vmOne.submitted">
      A name is required
    </p>
  </div>
  <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vmOne.submitted, 'has-error': form.email.$invalid && vmOne.submitted }">
    <label>Email</label>
    <input class="form-control" mongoose-error name="email" ng-model="vmOne.user.email" required type="email" placeholder="example@email.com"/>
    <p class="help-block" ng-show="form.email.$error.email && vmOne.submitted">
      Doesn't look like a valid email.
    </p>
    <p class="help-block" ng-show="form.email.$error.required && vmOne.submitted">
      What's your email address?
    </p>
    <p class="help-block" ng-show="form.email.$error.mongoose">
      {{ response.errors.email }}
    </p>
  </div>
  <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vmOne.submitted, 'has-error': form.password.$invalid && vmOne.submitted }">
    <label>Password</label>
    <input class="form-control" mongoose-error name="password" ng-minlength="6" ng-model="vmOne.user.password" required type="password" placeholder="********"/>
    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vmOne.submitted">
      Password must be at least 6 characters.
    </p>
    <p class="help-block" ng-show="form.password.$error.mongoose">
      {{ response.errors.password }}
    </p>
  </div>
  <div>
  <button class="btn btn-default col-xs-7" type="submit" type="submit">Sign-up</button>
  <button class="btn btn-default col-xs-4 col-xs-offset-1" type="submit" ui-sref="barred.login">Login</button>
  <br>
  <br>
  <br>
  <div class="text-center">
    <p>or sign-up with</p>
    <a class="btn btn-facebook" ng-click="vmOne.loginOauth('facebook')">
      <i class="fa fa-facebook"></i>
      Facebook
    </a>
    <a class="btn btn-google-plus" ng-click="vmOne.loginOauth('google')">
      <i class="fa fa-google-plus"></i>
      Google+
    </a>
    <a class="btn btn-twitter" ng-click="vmOne.loginOauth('twitter')">
      <i class="fa fa-twitter"></i>
      Twitter
    </a>
  </div>
</form>
