<div class="alert alert-danger" ng-show="vm.glitch.getError()" role="alert">{{ vm.glitch.getError() }}</div>
<div class="alert alert-success" ng-show="vm.glitch.getSuccess()" role="alert">{{ vm.glitch.getSuccess() }}</div>
<form class="form" name="form" ng-submit="vm.create(form)" novalidate>
  <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
    <label>Name</label>
    <input class="form-control" name="name" ng-model="vm.item.name" required type="text">
    <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
      A name is required
    </p>
  </div>
  <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted, 'has-error': form.email.$invalid && vm.submitted }">
    <label>Email</label>
    <input class="form-control" mongoose-error name="email" ng-model="vm.item.email" required type="email"/>
    <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
      Doesn't look like a valid email.
    </p>
    <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
      What's your email address?
    </p>
    <p class="help-block" ng-show="form.email.$error.mongoose">
      {{ response.errors.email }}
    </p>
  </div>
  <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted, 'has-error': form.password.$invalid && vm.submitted }">
    <label>Password</label>
    <input class="form-control" mongoose-error name="password" ng-minlength="3" ng-model="vm.item.password" required type="password"/>
    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
      Password must be at least 3 characters.
    </p>
    <p class="help-block" ng-show="form.password.$error.mongoose">
      {{ response.errors.password }}
    </p>
  </div>
  <div>
    <button class="btn btn-inverse btn-lg btn-login" type="submit">
      Sign up
    </button>
    <a class="btn btn-default btn-lg btn-register" href="/login">
      Login
    </a>
  </div>
  <hr>
    <div>
      <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook"></i>
        Connect with Facebook
      </a>
      <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
        <i class="fa fa-google-plus"></i>
        Connect with Google+
      </a>
      <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
        <i class="fa fa-twitter"></i>
        Connect with Twitter
      </a>
    </div>
  </form>
