<div class="alert alert-danger" ng-show="vmOne.glitch.getError()" role="alert">{{ vmOne.glitch.getError() }}</div>
<div class="alert alert-success" ng-show="vmOne.glitch.getSuccess()" role="alert">{{ vmOne.glitch.getSuccess() }}</div>
<form class="form" name="form" ng-init="vmOne.getOne()" ng-submit="vmOne.changePassword(form)" novalidate>
  <div class="form-group">
    <label>Current Password</label>
    <input class="form-control" mongoose-error name="password" ng-model="vmOne.user.oldPassword" placeholder="Password" type="password"/>
    <p class="help-block" ng-show="form.password.$error.mongoose">
      {{ response.errors.other }}
    </p>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input class="form-control" name="newPassword" ng-minlength="3" ng-model="vmOne.user.newPassword" placeholder="New Password" required type="password"/>
    <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
      Password must be at least 3 characters.
    </p>
  </div>
  <button class="btn btn-primary" type="submit">Save changes</button>
</form>
