<span ng-include="'components/theme/views/header.html'"></span>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'components/theme/views/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Company
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'components/theme/views/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div ng-show="vm.tracto.bad" class="alert alert-danger" role="alert">{{ vm.tracto.bad }}</div>
            <div ng-show="vm.tracto.good" class="alert alert-success" role="alert">{{ vm.tracto.good }}</div>
            <ul class="list-group" ng-init="vm.getMany()">
              <li class="list-group-item" ng-repeat="company in vm.items">
                  <strong>{{company.name}}</strong><br>
                  <span class="text-muted">Email: {{company.email}},</span>
                  <span class="text-muted">Phone: {{company.phone}}</span>
                  <a ng-hide="company.authenticated" ng-click="vm.authenticate(company)" class="trash pull-right">
                    authenticated
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </a>
                  <a ng-show="company.authenticated" ng-click="vm.unauthenticate(company)" class="trash pull-right">
                    unauthenticated
                    <span class="glyphicon glyphicon-ok-circle"></span>
                  </a>
              </li>
            </ul>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'components/theme/views/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'components/theme/views/footer.html'"></span>
