<span ng-include="'components/theme/views/header.html'"></span>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'components/theme/views/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Company Settings
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'components/theme/views/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div ng-show="vm.tracto.bad" class="alert alert-danger" role="alert">{{ vm.tracto.bad }}</div>
            <div ng-show="vm.tracto.good" class="alert alert-success" role="alert">{{ vm.tracto.good }}</div>
            <form class="form" name="form" ng-init="vm.getOne()" ng-submit="vm.update(form)" novalidate>

              <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted, 'has-error': form.name.$invalid && vm.submitted }">
                <label for="companyName">Company Name</label>
                <input type="text" name="name" class="form-control" id="companyName" placeholder="Company Name" ng-model="vm.item.name" required>
                <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
                  A company name is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && vm.submitted, 'has-error': form.phone.$invalid && vm.submitted }">
                <label for="companyPhone">Contact Phone Number</label>
                <input type="number" name="phone" class="form-control" id="companyPhone" placeholder="Company Phone" ng-model="vm.item.phone" required>
                <p class="help-block" ng-show="form.phone.$error.required && vm.submitted">
                  A company phone number is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.abn.$valid && vm.submitted, 'has-error': form.abn.$invalid && vm.submitted }">
                <label for="companyABN">Contact Phone Number</label>
                <input type="number" name="abn" class="form-control" id="companyABN" placeholder="Company ABN" ng-model="vm.item.abn" required>
                <p class="help-block" ng-show="form.abn.$error.required && vm.submitted">
                  An ABN number is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted, 'has-error': form.email.$invalid && vm.submitted }">
                <label for="companyEmail">Contact Email Address</label>
                <input type="email" name="email" class="form-control" id="companyEmail" placeholder="Company Email" ng-model="vm.item.email" required>
                <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                  Please use a valid email address
                </p>
                <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                  A company email address is required
                </p>
              </div>

              <div class="form-group">
                <label for="companyInfo">Company Information</label>
                <textarea class="form-control" rows="3" id="companyInfo" ng-model="vm.item.info">Text</textarea>
              </div>

              <button type="submit" class="btn btn-default">Submit</button>

            </form>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'components/theme/views/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'components/theme/views/footer.html'"></span>
