<!-- start:middle -->
<div class="middle container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:content -->
      <input type="text" class="form-control" placeholder="Search" ng-model="search">
      <ul class="list-group" ng-init="vmMany.getMany()">
        <li class="list-group-item" ng-repeat="inspection in vmMany.inspections">
            <strong>{{inspection.plate}}</strong><br>
            <span class="text-muted">Time: {{inspection.time | date:'medium'}}, </span>
            <span class="text-muted">Payment Due: {{inspection.infringement.payment | currency}}, </span>
            <span class="text-muted">Paid: {{inspection.paid}}</span>
        </li>
      </ul>
      <!-- end:content -->
    </div>
  </div>
</div>
<!-- end:middle -->
<!-- start:right -->
<div class="right container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:menu -->
      <ul class="list-inline" ng-repeat="items in vmApp.menu | filter: {direction: 'app.inspection'}">
        <li ng-repeat="item in items.children" ng-class="{'active': vmApp.isActive(item.direction)}">
          <a ui-sref="{{item.direction}}">
            {{item.label}}
          </a>
        </li>
      </ul>
      <!-- end:menu -->
      <div ng-if="vmMany.glitch.getError() != ''" class="alert alert-danger" role="alert">{{vmMany.glitch.getError()}}</div>
      <div ng-if="vmMany.glitch.getSuccess() != ''" class="alert alert-success" role="alert">{{vmMany.glitch.getSuccess()}}</div>
      <!-- view:detail -->
      <div ui-view=""></div>
    </div>
  </div>
</div>
<!-- end:right -->
