<!-- start:middle -->
<div class="middle container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:content -->
      <h2>Infringement</h2>
      <hr>
      <input type="text" class="form-control" placeholder="Search" ng-model="search">
      <table class="table table-hover" ng-init="vmMany.getFewCompany()">
        <thead>
          <tr>
            <th>Title</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="infringement in vmMany.infringements | filter: search" ui-sref="app.infringement.settings({id: vehicle._id})">
            <td>{{vehicle.name}}</td>
            <td>{{vehicle.payment | currency}}</td>
          </tr>
        </tbody>
      </table>
      <!-- end:content -->
    </div>
  </div>
</div>
<!-- end:middle -->
<!-- start:right -->
<div class="right container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:menu -->
      <ul class="list-inline" ng-repeat="items in vmApp.menu | filter: {direction: 'app.infringement'}">
        <li ng-repeat="item in items.children" ng-class="{'active': vmApp.isActive(item.direction)}">
          <a ui-sref="{{item.direction}}">
            {{item.label}}
          </a>
        </li>
      </ul>
      <!-- end:menu -->
      <div ng-if="vmMany.glitch.getError() != ''" class="alert alert-danger" role="alert">{{vmMany.glitch.getError()}}</div>
      <div ng-if="vmMany.glitch.getSuccess() != ''" class="alert alert-success" role="alert">{{vmMany.glitch.getSuccess()}}</div>
      <!-- view:detail -->
      <div ui-view=""></div>
    </div>
  </div>
</div>
<!-- end:right -->
