<form class="form" name="form" ng-init="vmOne.getOne()" ng-submit="vmOne.update(form)" novalidate>
  <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vmOne.submitted, 'has-error': form.name.$invalid && vmOne.submitted }">
    <label for="infrintementName">Infringement Title</label>
    <input class="form-control" id="infrintementName" name="name" ng-model="vmOne.infringement.name" placeholder="Location Name" required type="text">
    <p class="help-block" ng-show="form.name.$error.required && vmOne.submitted">
      An infringement title is required
    </p>
  </div>
  <div class="form-group" ng-class="{ 'has-success': form.payment.$valid && vmOne.submitted, 'has-error': form.payment.$invalid && vmOne.submitted }">
    <label for="payment">Infringement Payment</label>
    <input class="form-control" id="payment" min="0" name="payment" ng-model="vmOne.infringement.payment" placeholder="Cents" required type="number">
    <p class="help-block" ng-show="form.payment.$error.required && vmOne.submitted">
      An infringement payment amount is required
    </p>
    <p class="help-block" ng-show="form.payment.$error.number && vmOne.submitted">
      The infringement payment amount must be greater than 0
    </p>
  </div>
  <div class="form-group">
    <label for="locationInfo">Infringement Description</label>
    <textarea class="form-control" id="locationInfo" ng-model="vmOne.infringement.info" rows="3">A description of the infringement</textarea>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
