'use strict';

angular.module('webApp')
  .controller('LocationCtrl', function ($scope, $state, $stateParams, Location, Company, Auth) {
    $scope.tracto = {};
    $scope.location = {};
    $scope.locations = [];

    /**
     * Find all locations
     */
    $scope.find = function() {
      Location.query(function(locations) {
        $scope.locations = locations;
      }, $scope.tracto.handle);
    };

    /**
     * Find all locations registered to the user's company
     */
    $scope.findFew = function() {
      if (!Auth.getCurrentUser().company) {
        $state.go('main');
      } else {
        Location.query({ company: Auth.getCurrentUser().company },
        function(locations) {
          $scope.locations = locations;
        }, $scope.tracto.handle);
      }
    };

    /**
     * Find one location by id in state params
     */
    $scope.findOne = function() {
      if (!Auth.getCurrentUser().company) {
        $state.go('main');
      } else {
        Location.get({ id: $stateParams.id },
        function(location) {
          location.start = new Date(location.start);
          location.end = new Date(location.end);
          $scope.location = location;
        }, $scope.tracto.handle);
      }
    };

    /**
     * Go to the location settings page
     */
    $scope.toSettings = function(location) {
      $state.go('locationSettings', {
        id: location._id
      });
    };

    /**
     * Register a new location
     */
    $scope.register = function(form) {
      $scope.submitted = true;
      $scope.tracto.reset();

      if (form.$valid) {
        var user = Auth.getCurrentUser();
        angular.extend($scope.location, {
          _creator: user._id,
          company: user.company
        });
        var location = new Location($scope.location);
        location.$save(function() {
          Company.get({ id: user.company },
          function(company) {
            company.locations.push(location._id);
            company.$update(function() {
              $state.go('location');
            }, $scope.tracto.handle);
          }, $scope.tracto.handle);
        }, $scope.tracto.handle);
      }
    };

    /**
     * Update a location
     */
    $scope.update = function(form) {
      $scope.submitted = true;
      $scope.tracto.reset();

      if (form.$valid && $scope.location) {
        $scope.location.$update(function() {
          $scope.tracto.good = 'Details successfully updated';
  			}, $scope.tracto.handle);
      }
    };

    /**
     * Remove a location
     * TODO: should move to archive database instead of delete
     */
    $scope.remove = function(location) {
 			if (location) {
        Company.get({ id: location.company }, function(company) {
          company.locations.forEach(function(element, i, array) {
            if (array[i] === location) {
   					  array.splice(i, 1);
            }
          });
          company.$update(function() {
            location.$remove(function () {
              $scope.tracto.good = 'Vehicle successfully deleted';
            }, $scope.tracto.handle);
          }, $scope.tracto.handle);
        }, $scope.tracto.handle);
        // Remove from view
        $scope.locations.forEach(function(element, i, array) {
          if (array[i] === location) {
 					  array.splice(i, 1);
          }
        });
 			} else {
 				location = $scope.location;
        Company.get({ id: location.company }, function(company) {
          company.locations.forEach(function(element, i, array) {
            if (array[i] === location) {
    				  array.splice(i, 1);
            }
          });
          company.$update(function() {
            location.$remove(function () {
              $scope.tracto.good = 'Location successfully deleted';
            }, $scope.tracto.handle);
          }, $scope.tracto.handle);
        }, $scope.tracto.handle);
        $state.go('location');
 			}
 		};

    /**
     * Reset response object
     */
    var reset = function () {
      $scope.tracto = {};
    };

    /**
     * A error handling function
     */
    var $scope.tracto.handle = function (err) {
      console.log(err);
      $scope.tracto.bad = 'An error has occurred, we apologise for this inconvenience';
    };
  });
