<!-- start:middle -->
<div class="middle container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:content -->
      <input type="text" class="form-control" placeholder="Search" ng-model="search">
      <ul class="list-group" ng-init="vm.getMany()">
        <li class="list-group-item" ng-repeat="location in vm.locations">
            <strong>{{location.name}}</strong><br>
            <span class="text-muted">Rate/hr: {{location.rate}},</span>
            <span class="text-muted">Lots: {{location.lots}},</span>
            <span class="text-muted">Start: {{location.start | date:'shortTime'}},</span>
            <span class="text-muted">End: {{location.end | date:'shortTime'}}</span>
        </li>
      </ul>
      <!-- end:content -->
    </div>
  </div>
</div>
<!-- end:middle -->
<!-- start:right -->
<div class="right container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- start:menu -->
      <ul class="list-inline" ng-repeat="items in vmApp.menu | filter: {direction: 'app.location'}">
        <li ng-repeat="item in items.children" ng-class="{'active': vmApp.isActive(item.direction)}">
          <a ui-sref="{{item.direction}}">
            {{item.label}}
          </a>
        </li>
      </ul>
      <!-- end:menu -->
      <div class="alert alert-danger" role="alert">Check yourself before you <strong>wreck</strong> yourself.</div>
      <!-- view:detail -->
      <div ui-view=""></div>
    </div>
  </div>
</div>
<!-- end:right -->
