<form class="form" name="form" ng-submit="register(form)" novalidate>

  <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
    <label for="locationName">Location Name</label>
    <input type="text" name="name" class="form-control" id="locationName" placeholder="Location Name" ng-model="location.name" required>
    <p class="help-block" ng-show="form.name.$error.required && submitted">
      A location name number is required
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-success': form.rate.$valid && submitted, 'has-error': form.rate.$invalid && submitted }">
    <label for="locationRate">Ticket Parking Rate</label>
    <input type="number" name="rate" class="form-control" id="locationRate" ng-model="location.rate" placeholder="Cents/Hour" min="0" max="1000" required>
    <p class="help-block" ng-show="form.rate.$error.required && submitted">
      A location rate is required
    </p>
    <p class="help-block" ng-show="form.rate.$error.number && submitted">
      The location rate must be less than $10.00/hr
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-success': form.start.$valid && submitted, 'has-error': form.start.$invalid && submitted }">
    <label for="locationStart">Ticket Parking Start Time</label>
    <input type="time" name="start" class="form-control" id="locationStart" ng-model="location.start" placeholder="HH:mm:ss" required>
    <p class="help-block" ng-show="form.start.$error.required && submitted">
      A location start time is required
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-success': form.end.$valid && submitted, 'has-error': form.end.$invalid && submitted }">
    <label for="locationEnd">Ticket Parking End Time</label>
    <input type="time" name="end" class="form-control" id="locationEnd" ng-model="location.end" placeholder="HH:mm:ss" required>
    <p class="help-block" ng-show="form.end.$error.required && submitted">
      A location end time is required
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-success': form.lots.$valid && submitted, 'has-error': form.lots.$invalid && submitted }">
    <label for="locationLots">(Optional) Number of Available Lots</label>
    <input type="number" name="lots" class="form-control" id="locationLots" ng-model="location.lots" placeholder="Lots">
  </div>

  <div class="form-group">
    <label for="locationInfo">Location Information</label>
    <textarea class="form-control" rows="3" id="locationInfo" ng-model="location.info">Any extra information about the location</textarea>
  </div>

  <p class="help-block" ng-show="response.bad">{{ response.bad }}</p>
  <p class="help-block" ng-show="response.good">{{ response.good }}</p>

  <button type="submit" class="btn btn-default">Submit</button>

</form>
