<span ng-include="'components/theme/header.html'"></span>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 left hidden-sm hidden-xs">
        <span ng-include="'components/theme/sidebar.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Company Locations
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'components/theme/menu.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <a href="/location/register">Register a new location</a>
            <ul class="list-group" ng-init="findFew()">
              <li class="list-group-item" ng-repeat="location in locations" ng-click="toSettings(location)">
                  <strong>{{location.name}}</strong><br>
                  <span class="text-muted">Rate/hr: {{location.rate}},</span>
                  <span class="text-muted">Lots: {{location.lots}},</span>
                  <span class="text-muted">Start: {{location.start}},</span>
                  <span class="text-muted">End: {{location.end}}</span>
                  <a ng-click="remove(location)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
              </li>
            </ul>
            <p class="help-block" ng-show="response.bad">{{ response.bad }}</p>
            <p class="help-block" ng-show="response.good">{{ response.good }}</p>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'components/theme/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'components/theme/footer.html'"></span>
