<span ng-include="'components/theme/theme.header.html'"></span>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'components/theme/theme.navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Vehicles
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'components/theme/theme.navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <a href="/vehicle/register">Register a new vehicle</a>
            <ul class="list-group" ng-init="find()">
              <li class="list-group-item" ng-repeat="vehicle in vehicles">
                  <strong>{{vehicle.plate}}</strong><br>
                  <span class="text-muted">Make: {{vehicle.make}},</span>
                  <span class="text-muted">Colour: {{vehicle.color}},</span>
                  <span class="text-muted">Type: {{vehicle.type}}</span>
              </li>
            </ul>
            <p class="help-block" ng-show="response.bad">{{ response.bad }}</p>
            <p class="help-block" ng-show="response.good">{{ response.good }}</p>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'components/theme/theme.right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'components/theme/theme.footer.html'"></span>
