<span ng-include="'components/theme/views/header.html'"></span>
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs left" sidebar-resize>
        <span ng-include="'components/theme/views/navbar.large.html'"></span>
      </div>
      <div class="col-md-9">
        <h1>
          <!-- title start -->
          Register a Vehicle
          <!-- title end -->
        </h1>
        <div class="row hidden-md hidden-lg">
          <div class="col-sm-12">
            <span ng-include="'components/theme/views/navbar.small.html'"></span>
          </div>
        </div>
        <hr class="hidden-xs hidden-sm">
        <div class="row">
          <div class="col-sm-8 center">
            <!-- main content start -->
            <div ng-show="vm.tracto.bad" class="alert alert-danger" role="alert">{{ vm.tracto.bad }}</div>
            <div ng-show="vm.tracto.good" class="alert alert-success" role="alert">{{ vm.tracto.good }}</div>
            <form class="form" name="form" ng-submit="vm.create(form)" novalidate>

              <div class="form-group" ng-class="{ 'has-success': form.plate.$valid && vm.submitted, 'has-error': form.plate.$invalid && vm.submitted }">
                <label for="vehiclePlate">Vehicle Plate Number</label>
                <input type="text" name="plate" class="form-control" id="vehiclePlate" placeholder="Vehicle Plate" ng-model="vm.item.plate" required>
                <p class="help-block" ng-show="form.plate.$error.required && vm.submitted">
                  A vehicle plate number is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.make.$valid && vm.submitted, 'has-error': form.make.$invalid && vm.submitted }">
                <label for="vehicleMake">Vehicle Make</label>
                <select name="make" class="form-control" id="vehicleMake" ng-model="vm.item.make" ng-options="make for make in vm.makes" required></select>
                <p class="help-block" ng-show="form.make.$error.required && vm.submitted">
                  A vehicle make is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.type.$valid && vm.submitted, 'has-error': form.type.$invalid && vm.submitted }">
                <label for="vehicleType">Vehicle Type</label>
                <select name="type" class="form-control" id="vehicleType" ng-model="vm.item.type" ng-options="type for type in vm.types" required></select>
                <p class="help-block" ng-show="form.type.$error.required && vm.submitted">
                  A vehicle type is required
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.color.$valid && vm.submitted, 'has-error': form.color.$invalid && vm.submitted }">
                <label for="vehicleColor">Vehicle Colour</label>
                <select name="color" class="form-control" id="vehicleColor" ng-model="vm.item.color" ng-options="color for color in vm.colors" required></select>
                <p class="help-block" ng-show="form.color.$error.required && vm.submitted">
                  A vehicle colour is required
                </p>
              </div>

              <div class="form-group">
                <label for="vehicleInfo">Vehicle Information</label>
                <textarea class="form-control" rows="3" id="vehicleInfo" ng-model="vm.item.info">Any extra information about the vehicle</textarea>
              </div>

              <button type="submit" class="btn btn-default">Submit</button>

            </form>
            <!-- main content end -->
          </div>
          <div class="col-sm-4 right">
            <hr class="hidden-sm hidden-md hidden-lg">
            <!-- side content start -->
            <span ng-include="'components/theme/views/right.default.html'"></span>
            <!-- side content end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span ng-include="'components/theme/views/footer.html'"></span>
